<footer class="site-footer">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-12">
                <a class="navbar-brand d-flex align-items-center" href="/">
                    <img src="/static/images/logo.png" class="navbar-brand-image img-fluid">
                    <span class="navbar-brand-text">
                        Tiya <small>Golf Club</small>
                    </span>
                </a>
            </div>

            <div class="col-lg-3 col-12">
                <h5>Timings</h5>
                <p>Mon-Fri: 6AM - 6PM</p>
                <p>Sat-Sun: 6:30AM - 8:30PM</p>
            </div>

            <div class="col-lg-3 col-12">
                <p class="copyright-text">© 2026 Tiya Golf Club</p>
            </div>

        </div>
    </div>
</footer>